In [53]:
#data analysis
import pandas as pd
import numpy as np
import random as rnd

In [101]:
#data visulaization
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


#machine learning
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier


#sklearn accuracy libs
from sklearn.metrics import mean_squared_error, r2_score

In [55]:
df = pd.read_csv('Training.csv')

In [56]:
df.columns.values

array(['House ID', 'House Type', 'Address', 'Address (city)', 'sq ft',
       'rooms', 'Bathrooms', 'Bedrooms', 'Parking', 'Maintenance', 'Tax',
       'Cost', '$/sqft', 'Sold/Listed (s/l)'], dtype=object)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 14 columns):
House ID             86 non-null int64
House Type           86 non-null object
Address              86 non-null object
Address (city)       86 non-null object
sq ft                86 non-null int64
rooms                85 non-null float64
Bathrooms            85 non-null float64
Bedrooms             85 non-null float64
Parking              85 non-null float64
Maintenance          85 non-null object
Tax                  83 non-null object
Cost                 86 non-null object
$/sqft               86 non-null object
Sold/Listed (s/l)    85 non-null object
dtypes: float64(4), int64(2), object(8)
memory usage: 9.5+ KB

In [58]:
# changing this columns from categories to FLoats

df['Cost'] = df[df.columns[11:12]].replace('[\$,]', '', regex=True).astype(float)
df['$/sqft'] = df[df.columns[12:13]].replace('[\$,]', '', regex=True).astype(float)
df['Tax'] = df[df.columns[10:11]].replace('[\$,]', '', regex=True).astype(float)
df['Maintenance'] = df[df.columns[9:10]].replace('[\$,]', '', regex=True).astype(float)

In [59]:
df.describe()

,House ID,sq ft,rooms,Bathrooms,Bedrooms,Parking,Maintenance,Tax,Cost,$/sqft
count,86.000000,86.000000,85.000000,85.000000,85.000000,85.000000,85.000000,83.000000,86.000000,86.000000
mean,43.500000,1144.395349,6.152941,1.858824,2.058824,2.000000,714.159882,2176.478072,437245.616279,386.729884
std,24.969982,143.594714,0.879744,0.491667,0.236691,0.408248,150.065590,363.550474,52515.348904,59.200676
min,1.000000,850.000000,5.000000,1.000000,2.000000,0.000000,133.000000,1650.000000,355000.000000,273.080000
25%,22.250000,1100.000000,6.000000,2.000000,2.000000,2.000000,634.870000,1897.330000,399225.000000,343.167500
50%,43.500000,1100.000000,6.000000,2.000000,2.000000,2.000000,729.650000,2146.000000,429900.000000,385.810000
75%,64.750000,1300.000000,6.000000,2.000000,2.000000,2.000000,810.470000,2304.025000,465675.000000,420.310000
max,86.000000,1500.000000,10.000000,4.000000,3.000000,3.000000,1021.750000,3418.730000,599999.000000,588.120000

In [60]:
df[['sq ft', 'Cost']].groupby(['sq ft'], as_index=False).mean().sort_values(by='Cost', ascending=False)

    sq ft           Cost
10   1500  521500.000000
9    1400  480000.000000
5    1223  469900.000000
0     850  456600.000000
8    1395  448000.000000
7    1300  446131.727273
4    1200  435949.750000
3    1100  435290.736842
2    1000  435000.000000
6    1250  419900.000000
1     950  403148.166667

In [61]:
df[['rooms', 'Cost']].groupby(['rooms'], as_index=False).mean().sort_values(by='Cost', ascending=False)

   rooms           Cost
5   10.0  529900.000000
4    9.0  524900.000000
3    8.0  512966.333333
2    7.0  436950.000000
1    6.0  429309.915254
0    5.0  420803.333333

In [62]:
df[['Bathrooms', 'Cost']].groupby(['Bathrooms'], as_index=False).mean().sort_values(by='Cost', ascending=False)

   Bathrooms           Cost
2        3.0  562449.500000
3        4.0  549900.000000
1        2.0  437957.515152
0        1.0  409576.750000

In [63]:
df = df.drop(['Address', 'Address (city)', 'Sold/Listed (s/l)'], axis=1)

In [64]:
df.describe()

,House ID,sq ft,rooms,Bathrooms,Bedrooms,Parking,Maintenance,Tax,Cost,$/sqft
count,86.000000,86.000000,85.000000,85.000000,85.000000,85.000000,85.000000,83.000000,86.000000,86.000000
mean,43.500000,1144.395349,6.152941,1.858824,2.058824,2.000000,714.159882,2176.478072,437245.616279,386.729884
std,24.969982,143.594714,0.879744,0.491667,0.236691,0.408248,150.065590,363.550474,52515.348904,59.200676
min,1.000000,850.000000,5.000000,1.000000,2.000000,0.000000,133.000000,1650.000000,355000.000000,273.080000
25%,22.250000,1100.000000,6.000000,2.000000,2.000000,2.000000,634.870000,1897.330000,399225.000000,343.167500
50%,43.500000,1100.000000,6.000000,2.000000,2.000000,2.000000,729.650000,2146.000000,429900.000000,385.810000
75%,64.750000,1300.000000,6.000000,2.000000,2.000000,2.000000,810.470000,2304.025000,465675.000000,420.310000
max,86.000000,1500.000000,10.000000,4.000000,3.000000,3.000000,1021.750000,3418.730000,599999.000000,588.120000

In [65]:
df.describe(include=['O'])

       House Type
count          86
unique          3
top         Condo
freq           57

In [79]:
all_null_rows = df[df['Tax'].isnull()]
all_null_rows

,House ID,House Type,sq ft,rooms,Bathrooms,Bedrooms,Parking,Maintenance,Tax,Cost,$/sqft
12,13,Apartment,1400,7.0,2.0,2.0,2.0,816.0,NaN,480000.0,342.86

In [80]:
tax_guess = df[(df['$/sqft'] >= 340.00) & (df['$/sqft'] < 345.00)]['Tax'].dropna()

In [81]:
tax_guess

61    1766.00
64    1819.78
Name: Tax, dtype: float64

In [82]:
df['Tax'][12] = tax_guess.mean()

C:\Users\Darryl\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [83]:
#df['House Type'].drop_duplicates()
df['House Type'] = df['House Type'].map({'Apartment': 0, 'Condo/Town': 1, 'Condo': 2}).astype(int)

## Now that we have are data all ready and in numerical format, let's run regression

In [84]:
msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df [~msk]

In [89]:
train[train.isnull().any(axis=1)]
#this piece of code finds rows containing NaN in any of the columns
# identified there is a row so will remove it

train = train.dropna(axis=0, how='any')

## Use certain features and play around to find out which contribute to a better score...more features sued however means over fitting could occur

In [113]:
train_y = train['Cost']
test_y = test['Cost']
train_x = train[['House Type', 'sq ft', 'rooms', 'Bathrooms', 'Bedrooms', 'Parking', 'Maintenance', 'Tax']]
test_x = test[['House Type', 'sq ft', 'rooms', 'Bathrooms', 'Bedrooms', 'Parking', 'Maintenance', 'Tax']]
train_x_noTaxandMaint = train[['House Type', 'sq ft', 'rooms', 'Bathrooms', 'Bedrooms', 'Parking']]
test_x_noTaxandMaint = test[['House Type', 'sq ft', 'rooms', 'Bathrooms', 'Bedrooms', 'Parking']]
train_x_noHouseType = train[['sq ft', 'rooms', 'Bathrooms', 'Bedrooms', 'Parking', 'Maintenance', 'Tax']]
test_x_noHouseType = test[['sq ft', 'rooms', 'Bathrooms', 'Bedrooms', 'Parking', 'Maintenance', 'Tax']]
train_x_sqft_rooms = train[['sq ft', 'rooms']]
test_x_sqft_rooms = test[['sq ft', 'rooms']]

In [96]:
# Log regression model used
logreg = LogisticRegression()
logreg.fit(train_x, train_y)
Y_pred = logreg.predict(test_x)
acc_log = round(logreg.score(train_x, train_y) * 100, 2)
acc_log

45.07

In [107]:
# Linear regression model used
regr = linear_model.LinearRegression()
regr.fit(train_x_noHouseType, train_y)
test_pred_y = regr.predict(test_x_noHouseType)
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_y, test_pred_y))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(test_y, test_pred_y))

('Coefficients: \n', array([ -1.21464819e+01,   8.63297246e+03,   5.80326855e+03,
         2.06203968e+04,   1.19603668e+04,  -6.64404791e+01,
         8.45992881e+01]))
Mean squared error: 1798973165.55
Variance score: 0.40

In [114]:
#Linear regression used with only sq ft and rooms feature

regr_simple = linear_model.LinearRegression()
regr_simple.fit(train_x_sqft_rooms, train_y)
test_pred_y_simple = regr_simple.predict(test_x_sqft_rooms)
print('Coefficients: \n', regr_simple.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(test_y, test_pred_y_simple))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(test_y, test_pred_y_simple))

('Coefficients: \n', array([  1.58476859e+01,  -2.17551799e+03,   1.67335107e+04,
         1.11700133e+05,   9.56241250e+02]))
Mean squared error: 3017349660.76
Variance score: -0.00